<!DOCTYPE html>
<html lang="en">
<head>
</head>
  <body>
  <% include partials/_header %>

    <main>

      <div>
        <h1>You cant be here! <a href="/login">Log in</a> first.</h1>
      </div>

    </main>
  </body>
</html>
