<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<% include partials/_header %>
<main>
  <h2>Login</h2>
    <form action="/login" method="post">
      <label for="email"><h3>Email</h3></label>
      <input id="email" type="email" name="email" placeholder="email@email.com" style="width: 300px">
      <br>
      <label for="password"><h3>Password</h3></label>
      <input id="password" type="password" name="password" placeholder="password" style="width: 300px">
      <br>
      <input type="submit" value="Submit">
    </form>
  <div class="Hello first timer!">
  <h5>Register <a href="/register">here.</a></h5>
  </div>
  </main>


</body>
</html>
