<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <% include partials/_header.ejs %>
    <h2>Your url and its shortened form:</h2>
    <ul>
    <%= shortURL %> : <%= longURL%>
    </ul>
    <form method="POST" action="/urls/<%= shortURL %>/update">
      <input type = "text" name="longURL"></input>
      <input type ="submit" value="Edit"></input>
    </form>
    <!-- Add your EJS code here -->
</body>
</html>